div {
    width: 100px;
    height: 100px;
    background-color: blue;
    margin: 10px;
    color: aqua;
    text-align: center;
    font-size: 30px;
}
.some1 {
    visibility: hidden;
}
.some2 {
    visibility: hidden;
}
.some3 {
    visibility: visible;
}
